<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    
        <%= csp_meta_tag %>
       
        
  </head>

  <body>
     
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark " >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link"><%= link_to "Home", root_path  %></a></li>
        <li class="nav-item"><a class="nav-link"><%= link_to "About", simple_pages_about_path %></a></li>
        <li class="nav-item"><a class="nav-link"><%= link_to "Contact", simple_pages_contact_path %></a></li>
        <li class="nav-item"><a class="nav-link"><%= link_to 'Product', new_product_path %></a></li>
      </ul>
    </div>
    </nav>
    <%= yield %>
    <footer class="footer fixed-bottom">
      &copy; 2018 Bike Berlin
    </footer>
  </body>
</html>
